{% extends "base_4.html" %}
{% load static %}
{% load humanize %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}سبد خرید{% endblock %}

{% block content %}




{% if message %}
<p>{{ message }}</p>
{% endif %}


<div class="bread-crumb py-2">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'shop:index' %}" class="font-14 text-muted-two">خانه</a></li>
                <li class="breadcrumb-item"><a href="#" class="font-14 text-muted-two">سبد خرید</a></li>
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- start bread-crumb -->

<!-- start content -->

<div class="content">
    <div class="container-fluid mb">
        <div class="cart-product">
                <div class="row">
                    {% for item in cart.items.all %}
                    
                    <div class="col-md-6 col-sm-12 col-lg-6 mb-2">
                        <form method="post" action="{% url 'shop:cart_item_update' cart.pk item.pk %}">
                        {% csrf_token %}
                        <div class="product-row-item mt-2">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-3 col-sm-12">
                                <a href="{% url 'shop:product_detail' item.variety.product.slug %}">
                                    <img src="{{ item.variety.product.get_main_image }}" alt=""></a>
                                </div>
                                <div class="col-md-5 col-lg-5 col-sm-12">
                                    <h3 class="text-overflow-1 title-font font-14">{{item.variety.product.name}}</h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center">
                                        <p>قیمت هر عدد: {{item.variety.product.get_active_price|intcomma}} تومان <br>
                                            تعداد: {{item.quantity}}<br>
                                            
                                            مجموع: {{item.get_item_price|intcomma}} تومان</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 text-center align-middle">
                                    <label>
                                        <input type="text" name="count" class="counter" value="{{item.quantity}}">
                                    </label>
                                    <br>
                                    <button type="submit"
                                        class="btn main-color-one-bg text-white  mt-3 mb-4 font-12"> بروزرسانی تعداد
                                    </button>
                                    <a href="{% url 'shop:cart_item_delete' cart.id item.id %}"
                                        class="btn main-color-three-bg text-white  mt-3 mb-4 font-12"> حذف از سبد
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    {% endfor %}
                </div>

                <div class="col-12 mt-3">
                    <div class="row gy-4">
                        <div class="col-xl-9">
                            <div class="content-box">
                                <div class="container-fluid">

                                    <div class="alert alert-danger rounded-0">
                                        با توجه به محدود بودن موجودی کالاها، افزودن کالا به سبد خرید به معنی رزرو آن
                                        نیست. جهت نهایی کردن خرید پیش از اتمام موجودی، همین حالا سبد خود را ثبت و خرید
                                        را تکمیل کنید.
                                    </div>

                                    
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3">
                            <div class="content-box">
                                <div class="container-fluid">
                                    <div class="item">
                                        <div class="factor">
                                            <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
                                                <h5 class="mb-0 h6">مجموع اولیه:</h5>
                                                
                                                <p class="mb-0 font-17">{{cart.get_total_price|intcomma }} تومان</p>
                                            </div>

                                            <div class="action mt-3 d-flex align-items-center justify-content-center">
                                                
                                                   <a type="submit" href="{% url 'shop:create_order' %}" class="btn  main-color-one-bg rounded-pill">
                                                ادامه فرایند سفارش
                                            </a>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>

</div>

<!-- end content -->

{% endblock %}

