{% extends "base_2.html" %}
{% load static %}
{% load humanize %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}جزئیات سفارش{% endblock %}

{% block content %}




{% if message %}
<p>{{ message }}</p>
{% endif %}


<div class="bread-crumb py-4">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-lg-0 my-2">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'shop:index' %}" class="font-14 text-muted-two">فروشگاه</a></li>
                <li class="breadcrumb-item"><a href="#" class="font-14 text-muted-two">جزئیات سفارش</a></li>
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- start bread-crumb -->

<!-- start content -->

<div class="content">
    <div class="container-fluid">

        <div class="payment_navigtions">
            <div class="checkout-headers">
                <nav class="navbar navbar-expand">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="" class="nav-link">
                                <span>1</span>
                                <p>سبد خرید</p>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="" class="nav-link">
                                <span>2</span>
                                <p>صورتحساب</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <span>3</span>
                                <p>جزییات پرداخت</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <h2 class="title-font main-color-one-color mt-4 h4">سبد خرید شما <span class="main-color-three-color">({{cart.items.count}} محصول)</span>
            </h2>
        </div>

    </div>

    <div class="container-fluid">
        <div class="cart-product">
            <div class="row gy-4">
                <div class="col-12">
                    <div class="cart-product-item">
                        <div class="content-box">
                            <div class="container-fluid">
                                
                                {% for item in order.items.all %}
                                <div class="blog-item">
                                    <div class="blog-item-parent">
                                        <div class="shadow-box">
                                            <a href="{% url 'shop:product_detail' item.variety.product.slug %}"><img src="{{item.variety.product.get_main_image}}" alt="" style="height: 150px;"></a>
                                        </div>
                                        <div class="blog-item-desc">
                                            <div class="blog-item-desc-parent">
                                                <div class="blog-item-title">
                                                    <h5 class="title-font text-overflow-2">{{item.variety.product.name}}</h5>
                                                    <div class="saller-name text-muted">
                                                        <div class="product-meta-color-items mt-3" style="line-height: 1">
                                                        تعداد: {{item.quantity}} عدد
                                                        </div>
                                                    </div>
                                                    <div class="saller-name text-muted">
                                                        <div class="product-meta-color-items mt-3" style="line-height: 1">
                                                        قیمت هر عدد: {{item.variety.product.get_active_price|intcomma}} تومان
                                                        </div>
                                                    </div>
                                                    <div class="saller-name text-muted">
                                                        <div class="product-meta-color-items mt-3" style="line-height: 1">
                                                        مجموع: {{item.get_item_price|intcomma}} تومان
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gy-4">
                        
                        <div class="col-xl-12">
                            <div class="content-box">
                                <div class="container-fluid">
                                    <div class="item">
                                        <div class="factor">
                                            <div class="form-group mt-4">
                                                <form method="post" action="{% url 'shop:order_detail' order.id %}">
                                                {% csrf_token %}
                                                <label class="label-float fw-bold">شیوه ارسال <span class="text-danger">*</span></label>
            
                                                <select name="delivery_method" id="floatingInputOstan" class="form-control form-label label-float">
                                                    {% for delivery in delivery_mthods %}
                                                    <option value= "{{delivery.id}}">{{ delivery.name }} - هزینه: {{delivery.price}}</option>
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>
                                            <div class="action mt-3 d-flex align-items-center justify-content-center mb-3">
                                                <button type="submit" class="btn-flat dark text-center lg w-100">تایید سفارش</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end content -->

{% endblock %}

