{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}جزییات سفارش{% endblock %}

{% block content %}

<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">جزییات سفارش</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shop:index' %}">فروشگاه</a></li>
                        <li aria-current="page" class="breadcrumb-item active">جزییات سفارش</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card cart">
                        <div class="card-header">
                            <h3 class="card-title">سبد خرید</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for item in order.items.all %}
                                <div class="col-md-12  col-xl-6">
                                    <div class="card">
                                        <div class="row g-0">

                                            <div class="col-md-4">
                                                <img alt="img" class="card-img-left" src="{{item.variety.product.get_main_image}}" style="width: 150px;">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title m-0">{{item.variety.product.name}}</h5>
                                                    <p class="card-text m-0">تنوع: {{item.variety.name}}</p>
                                                    <p class="card-text m-0">قیمت هر عدد: {{item.variety.product.get_active_price|intcomma}} تومان</p>
                                                    <p class="card-text m-0">تعداد: {{item.quantity}} عدد</p>
                                                    <p class="card-text m-0">مجموع: {{item.get_item_price|intcomma}} تعداد</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <form method="post" action="{% url 'shop:order_detail' order.id %}">
                                {% csrf_token %}
                                <label class="col-md-12 form-label">شیوه‌ی ارسال</label>
                                <select name="delivery_method" type="text" class="form-control form-select select2" id="select-beast">
                                    {% for delivery in delivery_mthods %}
                                        <option value= "{{delivery.id}}">{{ delivery.name }} - هزینه: {{delivery.price}}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="login100-form-btn btn-primary mt-2">اعمال شیوه ارسال</button> 
                                <p class="text-danger">{{message2}}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>
{% endblock %}







